@media screen and (max-width: 600px) {
  .about {
    margin: auto !important;
    padding: 0px 20px !important;
  }

  .img {
    margin: auto !important;
    padding: 0px 20px !important;
  }

  .h4 {
    width: 90%;
  }
}

@media screen and (max-width: 1024px) {
  .middle {
    margin: auto !important;
  }

  .pad {
    padding: 0px 20px !important;
  }

  .img {
    margin: auto !important;
    padding: 0px 20px !important;
  }

  .mid {
    margin: auto !important;
  }
}
